/* Header */
.header {
	border-bottom: 1px solid #ECECEC;

	@media screen and (max-width:767px) {
		padding: 10px 0;
	}
}

.header__container {
	@media screen and (min-width:768px) {
		display: flex;
		align-items: center;
	}
}

.header__nav {
	display: flex;
	align-items: center;

	@media screen and (max-width:767px) {
		justify-content: space-between;
	}

	@media screen and (min-width:768px) {
		gap: 88px;
	}

	@media screen and (min-width:1200px) {
		gap: 93px;
	}
}

.logo__wrap-black-color {
	color: #000000;
}

.header__button {
	background-color: transparent;

	@media screen and(min-width:768px) {
		display: none;
	}
}

.header__icon {
	transition: fill $transition;

	.header__button:hover &,
	.header__button:focus & {
		fill: $accent-cl;
	}
}

.header__list {
	display: flex;
	align-items: center;
	gap: 50px;

	@media screen and(max-width:767px) {
		display: none;
	}
}

.header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color $transition;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	&:hover,
	&:focus {
		color: $accent-cl;
	}

	&--current {
		position: relative;

		color: $accent-cl;

		&::after {
			position: absolute;
			bottom: -1px;
			display: block;
			content: '';
			width: 100%;
			height: 4px;

			background-color: $accent-cl;
			border-radius: 2px;
		}
	}
}

.contacs {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	gap: 10px;

	@media screen and(max-width:767px) {
		display: none;
	}

	@media screen and(min-width:1200px) {
		flex-direction: row;
		gap: 30px;
	}
}

.contacs__link {
	display: flex;
	align-items: center;

	color: $secondary-txt-cl;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14/12);
	letter-spacing: 0.02em;
	transition: color $transition;

	&:hover,
	&:focus {
		color: $accent-cl;
	}

	@media screen and(min-width:1200px) {
		font-size: 14px;
		line-height: calc(16/14);
	}
}

.contacs__icon {
	margin-right: 8px;
	fill: currentColor;

	@media screen and(min-width:1200px) {
		margin-right: 10px;
	}
}