/* Qualities */
.qualities {
	padding: 60px 0;

	@media screen and (min-width: 1200px) {
		padding: 94px 0;
	}
}

.qualities__container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.qualities__item {
	width: 100%;

	@media screen and (min-width: 768px) {
		width: 354px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.qualities__bgc-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;

	background-color: $light-bg-cl;
}

.qualities__title {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;

	@media screen and (min-width: 768px) {
		text-align: left;
	}
}

.qualities__text {
	color: $secondary-txt-cl;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}